DB_HOST="localhost"
DB_NAME="hungry_house"
DB_USER="root"
DB_PASS=""

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_ENCRYPTION="ssl"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM_EMAIL=""
SMTP_FROM_NAME="The Hungry House"
